<div class="go">
  <!-- separate into individual components? -->
  <div class="board <%= @current %>">
    <% @board.each_with_index do |v,i| %>
    <%= button_tag "", class: v, data: { motion: "place", index: i } %>
    <% end %>
  </div>

  <div class="captures">
    <div>
      <% @captures["black"].times do %>
      <span class="black"></span>
      <% end %>
    </div>
    <div>
      <% @captures["white"].times do %>
      <span class="white"></span>
      <% end %>
    </div>
  </div>
</div>
