<main>
  <section>
    <%= render RestorationGame.new(selected: @selected) %>
  </section>
  <section>
    <%= button_tag "C", class: "number-btn", data: { motion: "change_selected", value: "1" } %>
  </section>
</main>