<section class="grid">
  <% (0..Math.sqrt(@board.size)-1).each do |i| %>
    <% (0..Math.sqrt(@board.size)-1).each do |j| %>
      <div class="tile" data-motion="paint">
        <img src="/assets/<%= @index[@board[i*9+j]] %>.svg" data-x="<%= i %>" data-y="<%= j %>" data-selected="<%= @selected %>"/>
      </div>
    <% end %>
  <% end %>
</section>