<main>
  <section>
    <%= @selected %>
    <%= render RestorationGame.new(selected: @selected) %>
  </section>
  <section>
    <%= button_tag "select", class: "number-btn", data: { motion: "change_selected", value: "1" } %>
    <div data-motion="change_selected" data-value="2">
      hi
    </div>
  </section>
</main>