<div class="row">
  <div class="col-12">
    <%= link_to "Back to All Demos", root_path %>
    <h1>Motion Demos - Explosions</h1>
    <p>right now i want to make something with pretty colors</p>
  </div>


  <section class="my-4 col-sm-12 col-md-8">
    <%= render Explosions::Explosions.new(20) %>
  </section>
</div>
