<h1>Motion Demos</h1>
<p>Motion is a Ruby and JavaScript library that allows you to build reactive frontend UI components in your Rails application using pure Ruby.</p>

<ul class="list-group">
  <li class="list-group-item"><%= link_to "Calculator", calculator_demo_path %></li>
  <li class="list-group-item"><%= link_to "Form Validation", form_demo_path %></li>
  <li class="list-group-item"><%= link_to "Clicker Game", clicker_games_path %></li>
</ul>
