<h1>Motion Demos</h1>
<p>Motion is a library that allows you to build reactive frontend UI components in your Rails application using pure Ruby.</p>

<h2>All Demos</h2>
<ul class="list-group col-8">
  <%= link_to calculator_demo_path, class: "list-group-item list-group-item-action pt-4" do %>
    <h4>Calculator</h4>
    <p>Allow complex frontend user interactions to generate results in real time with zero JS.</p>
  <% end %>

  <%= link_to form_demo_path, class: "list-group-item list-group-item-action pt-4" do %>
    <h4>Form Validation</h4>
    <p>Validate user input in real time with no JS and no repeated code from server to client.</p>
  <% end %>

  <%= link_to clicker_games_path, class: "list-group-item list-group-item-action pt-4" do %>
    <h4>Clicker Game</h4>
    <p>Multi-user game streaming real-time events between all players and updating UI accordingly.</p>
  <% end %>

  <%= link_to clock_path, class: "list-group-item list-group-item-action pt-4" do %>
    <h4>Clock Animation</h4>
    <p>See time, in different time zones, with css animations (progress bar).</p>
  <% end %>

</ul>
