<div class="row">
  <div class="col-12">
    <%= link_to "Back to All Demos", root_path %>
    <h1>Motion Demos - Lists</h1>
    <p>This demo shows a bug when using lists when list items are displayed with ids.</p>

    <%= render Lists::ListComponent.new %>
  </div>
</div>
