<div class="row">
  <div class="col-12">
    <%= link_to "Back to All Demos", root_path %>
    <h1>Motion Demos - Modals</h1>
    <p>Motion and JS + Motion demos of modals</p>
    <ul>
      <li>Bootstrap is used to trigger modals. The rest is CSS and Ruby.</li>
      <li>The page is never reloaded</li>
    </ul>
  </div>

  <section class="my-4 col-md-8 col-sm-12">
    <%= render Modals::ModalDemo.new %>
  </section>
</div>
