<div class="card shadow-none mt-3 border border-light">
   <div class="card-body">
     <div class="media mb-3">
       <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-3 mail-img shadow" alt="media image"  width="100" height="100">
         <div class="media-body">
            <span class="media-meta float-right">08:22 AM</span>
            <h4 class="text-primary m-0">Jhon Deo</h4>
            <small class="text-muted">From : info@example.com</small>
          </div>
      </div> <!-- media -->

      <p><b>Hi Sir...</b></p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,</p>
      <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>

      <hr>
      <h4> <i class="fa fa-paperclip mr-2"></i> Attachments <span>(3)</span> </h4>
      <div class="row">
          <div class="col-sm-4 col-md-3">
              <a href="javascript:void();"> <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="attachment" class="img-thumbnail"> </a>
          </div>
          <div class="col-sm-4 col-md-3">
              <a href="javascript:void();"> <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="attachment" class="img-thumbnail"> </a>
          </div>
          <div class="col-sm-4 col-md-3">
              <a href="javascript:void();"> <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="attachment" class="img-thumbnail"> </a>
          </div>
      </div>

      <div class="media mt-3">
          <a href="javascript:void();" class="media-left">
              <img alt="" src="https://bootdey.com/img/Content/avatar/avatar1.png" width="50" height="50">
          </a>
          <div class="media-body">
              <textarea class="wysihtml5 form-control" rows="9" placeholder="Reply here..."></textarea>
          </div>
      </div>
      <div class="text-right">
          <button type="button" class="btn btn-primary waves-effect waves-light mt-3"><i class="fa fa-send mr-1"></i> Send</button>
      </div>
  </div>
</div> <!-- card -->
