<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1>Clicker Game</h1>
      <p>Clicker game is a race to see who can click the most. Play by yourself or with as many friends as you want!</p>

      <%= render ClickerGame.new(key: key) %>
    </div>
  </div>
</div>
