<section>
  <h1>Authoritative Parent</h1>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" data-motion="list_change" data-value="list_with_children" class="btn btn-secondary">List with Children</button>
    <button type="button" data-motion="list_change" data-value="list_without_children" class="btn btn-secondary">List Without Children</button>
  </div>

  <%= render Lists::Sibling.new(channel: channel) %>
  <%= render list_klass.new(channel: channel, displaying: displaying, display_channel: display_channel) %>

</section>
