<section>
  <h3>Displaying Item</h3>
  <p><%= item %> with count <%= @count %></p>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" data-motion="count" data-value="-1" class="btn btn-primary">Decrease Count</button>
    <button type="button" data-motion="count" data-value="1" class="btn btn-primary">Increase Count</button>
  </div>

  <button type="button" data-motion="stop_displaying" class="btn btn-secondary">Exit</button>
</section>
