<div key="<%= @index %>" id="<%= @index %>" class="<%= @index %>">
  <%= item %>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" data-motion="display" class="btn btn-secondary">Show</button>
    <button type="button" data-motion="delete" class="btn btn-warning">Delete</button>
  </div>
</div>
