@import "_variables";
@import "bootstrap";
@import "clock";
@import "window";
@import "clicker_game";
@import "go";
@import "modal";
@import "tweet";
@import "explosions";

body {
  box-sizing: border-box;
}

.calc-grid {
  display: grid;
  height: 500px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-family: Helvetica;
}

.buffer {
  grid-column: span 4;
}

.zero-button {
  grid-column: span 2;
}

.buffer-area {
  background-color: #555;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  padding: 8px;
}

.number-btn {
  background-color: #CCC;
}

.op-btn {
  background-color: #f5923e;
  color: white;
}

.calc-grid button {
  border: 1px solid #888;
  font-size: 2rem;
}
