
.board {
  float: left;
  display: inline-block;
  max-height: 80%;
  width: 73%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.tile {
  margin-left: -2px;
  margin-bottom: -2px;
  z-index:4;

  img{
    max-width: 100%;
    max-height: 100%;
    z-index:2;
  }
}

.selector {
  margin-top: 100px;
  padding-left: 25px;
  float: right; 
  display: inline-block; 
  width: 25%;

  button {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100px;
  }
}
