@import "_variables";

.window {
  position: absolute;
  height: 50em;
  width: 30em;
  top: 0;
  border: 2em solid $light-gray;
  overflow: hidden;
  transition: background-color 2s;
}

.sun {
  position: absolute;
  width: 6em;
  height: 6em;
  left: 50%;
  border-radius: 100%;
  background-color: #FF4B3E;
  transition: bottom 4s ease-in, background-color 2s;
  box-shadow: 0 0 1em 1em rgba(255, 255, 0, 0.1);
}

